<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Usuário</title>
</head>
<body>
<h1>Adicionar usuário a base de dados:</h1>
  <form action='' method = "POST">
      <p><h2>nome</h2><input type = "text" name = "nome" /></p>
      <p><h2>cpf</h2><input type = "text" name = "cpf" /></p>
      <p><h2>email</h2><input type = "text" name = "email" /></p>
      <p><h2>telefone</h2><input type = "text" name = "idade" /></p>
      <p><h2>cnpj</h2><input type = "text" name = "cnpj" /></p>
      <p><h2>nascimento</h2><input type = "text" name = "nasc" /></p>
      <p><input type = "submit" value = "Adicionar Novo Usuário" /></p>
  </form>
</body>
</html>