<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Dados</title>
</head>
    <form action='' method = "POST">
        <p><h2>nome</h2><input type = "text" name = "nome" value="{{nome}}"/></p>
        <p><h2>cpf</h2><input type = "text" name = "cpf" value="{{cpf}}"/></p>
        <p><h2>email</h2><input type = "text" name = "email" value="{{email}}"/></p>
        <p><h2>telefone</h2><input type = "text" name = "idade" value="{{telefone}}"/></p>
        <p><h2>cnpj</h2><input type = "text" name = "cnpj" value="{{cnpj}}"/></p>
        <p><h2>nascimento</h2><input type = "text" name = "nasc" value="{{nasc}}"/></p>
        <p><input type = "submit" value = "Atualizar Usuário" /></p>
    </form>
</body>
</html>